.about{
    height:90vh;
    padding:100px 200px 0px 200px;
    // background: linear-gradient(to bottom,#F8FAFC, white);
    position:relative;
    .aboutimage{
        width:500px;
        height:500px;
        border-radius: 1%;
        background-color: white;
        img{
            width:500px;
            height:500px;
            margin-top:-15px;
            margin-left:-15px;
        }
        &:hover{
            scale: 1.1;
        }
    }
    h2{
        font-size: 48px;
        font-weight: 400;
    }
    p{
        font-size: 18px;
        color: #737D8C;
        font-weight: 400;
    }
    .info{
        width:50%;
        gap:50px;
        span{
            font-size: 56px;
            color:#684FFF;
            font-weight: 400;
        }
        p{
            font-size: 18px;
            font-weight: 400;
        }
    }
    .sayhi{
        background-color: #684FFF;
        color: white;
        border:none;
        border-radius: 4px;
        &:hover{
            box-shadow: 0px 0px 10px 0px #684FFF;
        }
    }
    .circle{
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: -1;
        img{
            width: 30%;
            height: 50%;
        }
    }
    .dots{
        position: absolute;
        top: 130px;
        right: 0px;
        bottom: 0px;
        left: -15px;
        z-index: -1;
        img{
            width: 25%;
            height: 25%;
            rotate: 90deg;
        }
    }
    @media screen and (max-width: 768px) {
        padding:30px 50px 0px 50px; 
        height:85vh;
        .aboutimage{
            width:300px;
            height:300px;
            margin:20px;
            margin: auto;
            img{
                width:100%;
                height:100%;
                margin-top:0px;
                margin-left:0px;
            }
        }
        h2{
            font-size: 28px;
            width:80%;
            margin: auto;
            margin-top: 10px !important;
            margin-bottom: 10px !important;
        }
        p{
            margin-bottom: 10px !important;
            font-size: 12px;
            width:80%;
            margin: auto;
        }
        .info{
            width:80%;
            margin: auto;
            .experience{
                gap:0px !important;
            }
            span{
                font-size: 26px;
            }
            p{
                font-size: 12px;
                margin-top: 0px !important;
                padding-top: 5px !important;
                width:30%;
            }
        }
        .sayhi{
            border-radius: 2px;
            font-size: 10px;
            margin-top: 10px !important;
            margin-left: 11% !important;
            button{
                padding: 0px !important;
                margin: 0px !important;
            }
            &:hover{
                box-shadow: 0px 0px 10px 0px #684FFF;
            }
        }
        .circle{
            img{
                width: 30%;
                height: 40%;
            }
        }
        .dots{
            top: 50px;
            right: 0px;
            bottom: 0px;
            left: 25px;
            z-index: -1;
            img{
                width: 25%;
                height: 25%;
                rotate: 90deg;
            }
        }
    }
    @media screen and (max-width: 430px) {
        height:100vh;
    }
}