.contact{
    background-color: #DFE3EB4D;
    overflow: hidden;
    position: relative;
    img{
        position: absolute;
        z-index: -1;
        width:500px;
        height:350px;
    }
    .dot{
        position: absolute;
        top: 50px;
        right: 0;
        left:900px;
        bottom:0px;
        z-index: 3;
        img{
            width: 550px;
            height: 160px; 
            rotate: 90deg;       
        }
    }
    .contact-content{
        padding:0px 200px 20px 200px;
        margin-top:100px;
        margin-bottom: 50px;
        z-index:1;
        h5{
            font-size: 32px;
            font-weight: 400;
        }
        .contact-form{
            border-radius: 8px;
            form{ 
                .name{
                    input{
                        max-width: 340px;
                    }
                }
                .message{
                    input{
                       height:100px;
                    }
                }
                input{
                    max-width: 550px;
                }
                button{
                    transition: all 0.5s ease;
                    background-color: #684FFF; 
                    color:white;
                    border:none;
                    border-radius:5px;
                    &:hover{
                        box-shadow: 0px 0px 10px 0px #684FFF;
                    }
                }
            }
        }
        .get-in-touch{
            border-radius: 8px;
            p{
                font-size: 14px;
            }
            .get-icon{
                width:calc(100% - 40px);
                width:40px;
                height:40px;
                border-radius: 50%;
                background-color: #F5EFFF;
                svg{
                    width:35px;
                    height:35px;
                }
            }
            .socialmedia{
                font-size: 20px;
                a{
                    width:40px;
                    height:40px;
                    border:1px solid #DFE3EB;
                    border-radius:50%;
                    color:black;
                    &:hover{
                        background-color:#684FFF ;
                        color:white;    
                    } 
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        img{
            width:300px;
            height:150px;
        }
        .dot{
            top: 20px;
            left:500px;
            img{
                width: 450px;
                height: 120px;       
            }
        }
        .contact-content{
            padding:5px 50px 20px 50px;
            margin-top:50px;
        }
    }
    @media screen and (max-width: 430px) {
        img{
            width:200px;
            height:100px;
        }
        .dot{
            top: 20px;
            left:250px;
            img{
                width: 300px;
                height: 100px;       
            }
        }
        .contact-content{
            padding:0px 20px 20px 20px;
            margin-top:50px;
            h5{
                font-size: 22px;
            }
            .contact-form{
                min-width:400px;
                min-height:300px;
                border-radius: 5px;
                form{
                    padding:5px;
                    .name{
                        input{
                            max-width: 185px;
                        }
                    }
                    .message{
                        input{
                        height:80px;
                        }
                    }
                    input{
                        max-width: 450px;
                    }
                }
            }
        }
    }
}