.hero-info{
    .left-section{
        max-width:730px;
        min-height:412px;
        margin-top:120px;
        p{
            max-width:670px;
            color:#737D8C;
            font-size: 20px;
        }
        h1{
            font-size: 70px;
            font-weight:400;
           .designer {
                position: relative;
                z-index: 1;
                color: #684FFF;

                &::after {
                    content: "";
                    position: absolute;
                    top: 65%;
                    left: 0;
                    width: 100%; // or adjust for partial highlight
                    height: 35%;
                    background-color: #e6e0f8;
                    z-index: -1;
                    border-radius: 4px;
                }
            }
        }
        .hireme{
            background-color: #684FFF;
            color:white;
            margin-right:20px;
        }
    }
    .right-section{
        img{
            margin-left:200px;
            margin-top:-35px;
        }
    }
    .follow{
        font-size: 16px;
        a{
            border:1px solid #737D8C;
            border-radius:10%;
            padding:4px;
            color:black;
            &:hover{
                background-color:#684FFF ;
                color:white;
               
            }
            
        }
    }
    .hero-img{
        position: absolute;
        top: 50px;
        right: 0;
        left:480px;
        bottom:0px;
        img{
            width: 650px;
            height: 800px;        }
    }
}
