.hero-info{
    .left-section{
        max-width:730px;
        min-height:412px;
        margin-top:120px;
        p{
            max-width:670px;
            color:#737D8C;
            font-size: 20px;
        }
        h1{
            font-size: 70px;
            font-weight:400;
           .designer {
                position: relative;
                z-index: 1;
                color: #684FFF;

                &::after {
                    content: "";
                    position: absolute;
                    top: 65%;
                    left: 0;
                    width: 100%; // or adjust for partial highlight
                    height: 35%;
                    background-color: #e6e0f8;
                    z-index: -1;
                    border-radius: 4px;
                }
            }
        }
        .hireme{
            transition: all 0.5s ease;
            background-color: #684FFF;
            color:white;
            margin-right:20px;
            &:hover{
                scale: 1.1;
            }
        }
        .view{
            transition: all 0.5s ease;
            &:hover{
                scale: 1.1;
            }
        }
    }
    .right-section{
        img{
            margin-left:200px;
            margin-top:-35px;
        }
    }
    .follow{
        font-size: 16px;
        a{
            border:1px solid #737D8C;
            border-radius:10%;
            padding:4px;

            margin-bottom: 20px;
            color:black;
            &:hover{
                background-color:#684FFF ;
                color:white;
               
            }
            
        }
    }
    .hero-img{
        position: absolute;
        top: 50px;
        right: 0;
        left:480px;
        bottom:0px;
        object-fit: cover;
        img{
            width: 650px;
            height: 800px;
                    
        }
    }
    @media screen and (max-width: 768px) {
        .left-section{
            max-width:630px;
            min-height:412px;
            margin-top:100px;
            p{
                max-width:400px;
                font-size: 15px;
            }
            h1{
                max-width:400px;
                font-size: 50px;
                font-weight:400;
            }
        }
        .right-section{
           display: none;
        }
        .follow{
            font-size: 16px;
            a{
                border:1px solid #737D8C;
                border-radius:10%;
                padding:4px;
                color:black;
                &:hover{
                    background-color:#684FFF ;
                    color:white;
                
                }
                
            }
        }
        .hero-img{
            position: absolute;
            top: 100px;
            right: 0;
            left:230px;
            bottom:0px;
            img{
                width: 650px;
                height: 800px;        
            }
        }
    }
    @media screen and (max-width: 430px) {
        .hero-img{
            display: none;
        }
        
    }
}
