.myservice{
    padding:30px 200px 0px 200px;
    margin-bottom:50px;
    h4{
        font-size: 40px;
        font-weight: 400;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            left: 50%;
            bottom: -10px;
            width: 70px;
            height: 3px;
            transform: translateX(-50%);
            background-color: #684FFF; 
            border-radius: 2px;
        }
    }
    a{
        color:#0A1931;
        text-decoration: none;
    }
    .service-content{
        transition: all 0.3s linear;
        background-color: #DFE3EB66;
        transform-origin: center;
        position: relative;
        margin-top: 40px;
        h5{
            max-width:150px;
            font-size: 32px;
            font-weight: 400;
            margin-top: 100px;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -10px;
                width: 80px;
                height: 3px;
                background-color: #B2A5FF; 
                border-radius: 2px;
            }
        }
    }
    .service-content:hover{
        transform: scale(1.05);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: white;
        svg{
            path{
                stroke: #684FFF;
            }
            
        }
    }
    .description{
        font-size: 14px;
        max-width: 0;
        transition: all 0.5s linear;
        overflow-x: hidden;
        white-space: nowrap;
        color: #684FFF;
    }
    i{
        color: #684FFF;
    }
    .service-content:hover .description{
        max-width: 150px;
    }
    @media screen and (max-width: 768px) {
        padding:0px 30px 0px 30px;
        margin-top: 20px;
        .service-content{
            margin-top: 60px;
            min-height:200px;
            h5{
                width:90%;
                font-size: 22px;
                margin-top: 50px;
            }
            .iconbefore{
                font-size: 15px;
                transition: all 0.3s linear;
            }
        }
    }
    @media screen and (max-width: 430px) {
        padding:30px 20px 0px 20px;
        .description{
            font-size: 12px;
            max-width: 150px;
        }   
    }
}