.myservice{
    padding:30px 200px 0px 200px;
    margin-bottom:50px;
    h4{
        font-size: 40px;
        font-weight: 400;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            left: 47%;
            bottom: -10px;
            width: 70px;
            height: 3px;
            background-color: #684FFF; 
            border-radius: 2px;
        }
    }
    .service-content{
        background-color: #DFE3EB66;
        margin-top: 40px;
        min-height:300px;
        h5{
            max-width:150px;
            font-size: 32px;
            font-weight: 400;
            margin-top: 100px;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -10px;
                width: 80px;
                height: 3px;
                background-color: #B2A5FF; 
                border-radius: 2px;
            }
        }
        a{
            color:#0A1931;
            text-decoration: none;
        }
        .iconbefore{
            font-size: 20px;
            transition: transform 0.3s ease;
        }
        .iconafter{
            display: none;
        }
        &:hover{
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 5px;
            transition: all 0.5s ease; 
            .iconafter{
                display: block;
                transition: all 0.5s ease; 
                font-size: 16px;
                font-weight: 600;
                color: #684FFF;
                i{
                    padding-left: 15px;
                }
            } 
            svg{
                path{
                    stroke:#684FFF;
                } 
            }
            .iconbefore{
                display:none;
            }
        }  
    }
    @media screen and (max-width: 768px) {
        padding:0px 30px 0px 30px;
        margin-top: 20px;
        .service-content{
            margin-top: 60px;
            min-height:200px;
            h5{
                width:90%;
                font-size: 22px;
                margin-top: 50px;
            }
            .iconbefore{
                font-size: 15px;
                transition: transform 0.3s ease;
            }
        }
    }
    @media screen and (max-width: 430px) {
        padding-top:30px;
        
    }
}