.myworks{
    padding:0px 200px 40px 200px;
    background-color: #DFE3EB66;
    h4{
        font-size: 40px;
        font-weight: 400;
        padding-top: 50px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            left: 50%;
            bottom: -10px;
            width: 70px;
            height: 3px;
            transform: translateX(-50%);
            background-color: #684FFF; 
            border-radius: 2px;
        }
    }
    img{
        width: 100%;
        min-height:255px;
    }
    a{
        text-decoration: none;
    }
    .mywork-content{
        .card-title{
            color:black;
        }
    }
    .card:hover{
        transform: scale(1.01);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .description{
        font-size: 14px;
        max-width: 0;
        transition: all 0.5s linear;
        overflow-x: hidden;
        white-space: nowrap;
        color: #684FFF;
    }
    i{
        color: #684FFF;
    }
    .card:hover .description{
        max-width: 150px;
    }
    @media screen and (max-width: 768px) {
        padding:0px 30px 40px 30px;
        margin: 0px;
        .iconafter{
            font-size: 12px;
        }
        
    }
    @media screen and (max-width: 430px) {
        padding:0px 20px 30px 20px;
        .description{
            font-size: 14px;
            max-width: 150px;
        }
    }
}

